In [ ]:
# Revising the Select 1 
# Query all columns for all American cities in the CITY table with populations larger than 100000. 
# The CountryCode for America is USA.

Select * from city where POPULATION> 100000 and COUNTRYCODE = "USA"

In [ ]:
# Revising the Select 2 
# Query the NAME field for all American cities in the CITY table with populations larger than 120000. 
#The CountryCode for America is USA.

Select NAME from city where POPULATION> 120000 and COUNTRYCODE = "USA"

In [ ]:
# Select All
# Query all columns (attributes) for every row in the CITY table.

SELECT * from CITY

In [ ]:
# Select by ID
# Query all columns for a city in CITY with the ID 1661.

SELECT * FROM CITY WHERE ID = 1661

In [ ]:
# Japanies City Attributes
# Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

SELECT * FROM CITY WHERE COUNTRYCODE ="JPN"

In [ ]:
# Japanies City Names
# Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.

SELECT NAME FROM CITY WHERE COUNTRYCODE ="JPN"

In [ ]:
# Weather Observation 1 
# Query a list of CITY and STATE from the STATION table.

SELECT CITY, STATE FROM STATION

In [ ]:
# Weather Observation 3 
# Query a list of CITY names from STATION for cities that have an even ID number. 
# Print the results in any order, but exclude duplicates from the answer.

SELECT DISTINCT(CITY) FROM STATION WHERE ID%2=0

In [ ]:
# Weather Observation 4 
# Find the difference between the 
# total number of CITY entries in the table and the number of distinct CITY entries in the table.

SELECT (COUNT(CITY) - COUNT(DISTINCT(CITY))) FROM STATION

In [ ]:
# Weather Observation 5
# Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths 
#(i.e.: number of characters in the name). 
# If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

SELECT CITY, LENGTH(CITY) as CITYLEN FROM STATION ORDER BY CITYLEN ASC, CITY ASC LIMIT 1;
SELECT CITY, LENGTH(CITY) as CITYLEN FROM STATION ORDER BY CITYLEN DESC, CITY ASC LIMIT 1

In [ ]:
# Weather Observation 6 
# Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. 
# Your result cannot contain duplicates.

SELECT DISTINCT(CITY) FROM STATION 
WHERE CITY LIKE 'u%' OR CITY LIKE 'a%' OR CITY LIKE 'o%' OR CITY LIKE 'i%'OR CITY LIKE 'e%'

In [ ]:
# Weather Observation 7 
# Query the list of CITY names ending with vowels (i.e., a, e, i, o, or u) from STATION. 
# Your result cannot contain duplicates.

SELECT DISTINCT(CITY) FROM STATION 
WHERE CITY LIKE '%u' OR CITY LIKE '%a' OR CITY LIKE '%o' OR CITY LIKE '%i'OR CITY LIKE '%e'

In [ ]:
# Weather Observation 8
# Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their 
# first and last characters. Your result cannot contain duplicates.

SELECT DISTINCT(CITY) FROM STATION 
WHERE LEFT(CITY , 1) IN ('a','e','i','o','u')
AND RIGHT(CITY,1) IN  ('a','e','i','o','u')

In [ ]:
# Weather observation 9
# Query the list of CITY names from STATION that do not start with vowels. Your result cannot contain duplicates.

SELECT DISTINCT(CITY) FROM STATION 
WHERE LEFT(CITY,1) NOT IN  ('a','e','i','o','u')

In [ ]:
# Weather observation 10
# Query the list of CITY names from STATION that do not end with vowels. Your result cannot contain duplicates.

SELECT DISTINCT(CITY) FROM STATION 
WHERE RIGHT(CITY,1) NOT IN  ('a','e','i','o','u')

In [ ]:
# Weather observation 11
# Query the list of CITY names from STATION that do not start/end 
# with vowels. Your result cannot contain duplicates.

SELECT DISTINCT(CITY) FROM STATION 
WHERE LEFT(CITY , 1) NOT IN ('a','e','i','o','u')
OR RIGHT(CITY,1) NOT IN  ('a','e','i','o','u')

In [ ]:
# Higher than 75 marks
# Query the Name of any student in STUDENTS who scored higher than 75 Marks. 
# Order your output by the last three characters of each name. 
# If two or more students both have names ending in the same last three characters (i.e.: Bobby, Robby, etc.), 
# secondary sort them by ascending ID.

SELECT Name FROM STUDENTS WHERE Marks > 75 ORDER BY RIGHT(Name,3),ID ASC

In [ ]:
# Employee Names
# Write a query that prints a list of employee names 
# (i.e.: the name attribute) from the Employee table in alphabetical order.

SELECT name FROM Employee ORDER BY name ASC

In [ ]:
# Weather Observation 12
# Query the list of CITY names from STATION that do not start with vowels and 
# do not end with vowels. Your result cannot contain duplicates.

SELECT DISTINCT(CITY) FROM STATION 
WHERE LEFT(CITY , 1) NOT IN ('A','E','I','O','U') 
AND RIGHT(CITY,1) NOT IN  ('a','e','i','o','u');

In [ ]:
# Population Density Difference
# Query the difference between the maximum and minimum populations in CITY.

SELECT
MAX(POPULATION) - MIN(POPULATION)
FROM CITY;

In [ ]:
# The Blunder
# Samantha was tasked with calculating the average monthly salaries for 
# all employees in the EMPLOYEES table, but did not realize
# her keyboard's  key was broken until after completing the calculation. 
# She wants your help finding the difference between her miscalculation (using salaries with any zeros removed), 
# and the actual average salary.

# Write a query calculating the amount of error (i.e.: actual - miscalcaulted average monthly salaries), 
# and round it up to the next integer.

SELECT CEIL(AVG(Salary) -(SELECT AVG(REPLACE(Salary,'0','')) FROM EMPLOYEES)) AS SOME
FROM EMPLOYEES;

In [ ]:
# Top Earners

# We define an employeeâ€™s total earnings to be their monthly salary x months worked, and
# the maximum total earnings to be the maximum total earnings for any employee in the Employee table.
# Write a query to find the maximum total earnings for all employees as well as the total number of
# employees who have maximum total earnings. 
# Then print these values as 2 space-separated integers.

SELECT MAX(months * salary), COUNT(months * salary) 
FROM EMPLOYEE
WHERE (months * salary) = (
SELECT MAX(months * salary) FROM EMPLOYEE
);