In [ ]:
# Draw the triangle 2

# Wrong query prints it in seperate output lines
# SELECT "*" FROM DUAL
# UNION ALL SELECT "**" FROM DUAL
# UNION ALL SELECT "***" FROM DUAL
# UNION ALL SELECT "****" FROM DUAL;

# SELECT rpad("*",level*2,"*") FROM DUAL connect by level<=3;

set @number = 0;
select repeat('* ', @number := @number + 1) from information_schema.tables limit 20;

In [ ]:
# Aggregations - Count Function
# Query a count of the number of cities in CITY having a Population larger than 100,000 .

SELECT COUNT(*) FROM CITY WHERE POPULATION>100000;

In [ ]:
# Aggregations - Sum Function
# Query the total population of all cities in CITY where District is California.

SELECT SUM(POPULATION) FROM CITY WHERE DISTRICT="California";

In [ ]:
# Aggregations - Averages Function
# Query the average population of all cities in CITY where District is California.

SELECT AVG(POPULATION) FROM CITY WHERE DISTRICT="California";

In [ ]:
# Average Population
# Query the average population for all cities in CITY, rounded down to the nearest integer.

SELECT FLOOR(AVG(POPULATION)) FROM CITY;

In [ ]:
# Write a query identifying the type of each record in the TRIANGLES table using its three side lengths. 
# Output one of the following statements for each record in the table:
# Equilateral: It's a triangle with 3 sides of equal length.
# Isosceles: It's a triangle with 2 sides of equal length.
# Scalene: It's a triangle with 3 sides of differing lengths.
# Not A Triangle: The given values of A, B, and C don't form a triangle.

SELECT CASE 
WHEN A+B<=C OR B+C<=A OR A+C<=B THEN "Not A Triangle"
WHEN A=B AND B=C AND A=C THEN "Equilateral"
WHEN A=B OR B=A OR A=C THEN "Isosceles"
ELSE "Scalene"
END
FROM TRIANGLES;

In [ ]:
# Generate the following two result sets:

# Query an alphabetically ordered list of all names in OCCUPATIONS,
# immediately followed by the first letter of each profession as a parenthetical (i.e.: enclosed in parentheses). 
# For example: AnActorName(A), ADoctorName(D), AProfessorName(P), and ASingerName(S).
# Query the number of ocurrences of each occupation in OCCUPATIONS. 
# Sort the occurrences in ascending order, and output them in the following format:

# There are a total of [occupation_count] [occupation]s.
# where [occupation_count] is the number of occurrences of an occupation in OCCUPATIONS and 
# [occupation] is the lowercase occupation name. 
# If more than one Occupation has the same [occupation_count], they should be ordered alphabetically.

# Note: There will be at least two entries in the table for each type of occupation.

1.SELECT Concat(Name, "(", LEFT(Occupation, 1), ")") from OCCUPATIONS ORDER BY Name

2.SELECT Concat("There are a total of ", count(Occupation), " ", lower(Occupation), "s.")
FROM OCCUPATIONS GROUP BY Occupation ORDER BY count(Occupation), Occupation

In [ ]:
# Occupations

# Pivot the Occupation column in OCCUPATIONS so that each Name 
# is sorted alphabetically and displayed underneath its corresponding Occupation. 
# The output column headers should be Doctor, Professor, Singer, and Actor, respectively.

# Note: Print NULL when there are no more names corresponding to an occupation.

SELECT Doctor, Professor, Singer, Actor FROM (
SELECT ROW_NUMBER() OVER (PARTITION BY occupation ORDER BY name) as rn, name, occupation FROM occupations) 
PIVOT 
(MAX(name) FOR occupation IN ('Doctor' as Doctor,'Professor' as Professor, 'Singer' as Singer, 'Actor' as Actor)) 
ORDER BY rn;